

#div1{
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(1,1fr); */
    justify-content: center;
    background-color:white;
    
}

#section1car{
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left:15px;
    height: 340px;
    width: 90vw;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url('../Constant/Images/front.png');
    /* animation: slider 3s infinite;
    position: relative; */
}

/* @keyframes slider{
    0%{
        background-image: url('../Constant/Images/front.png');
        left: -250px;
    }35%{ */
        /* background-image: url('../Constant/Images/front.png'); */
        /* right:-200px; */
    /* }60%{
        background-image: url('../Constant/Images/front.png');
    }
} */

#secfront1button{
        color: black;
        padding:3px;
        background-color: white;
        width: 150px;
        height: 20px;
        text-align: center;
        box-shadow: 1px 1px gray;
        border-radius: 5px;
        font-weight: bold;
        text-decoration: none;
        margin-bottom: 15px;
}


